.dnd-holder {
  width: 85%;
  min-height: 100vh;
}

body,
html {
  background-color: #f2f7fa;
}

.toolbar {
  width: 15%;
  min-height: 100vh;
  height: 100%;
}
.item {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}
.field {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  border-radius: 5px;
  padding: 20px;
}
.input-bordered {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  box-shadow: unset !important;
}

.input-bordered:focus {
  outline: 1px solid green;
}

.blue {
  color: #0b3351;
}
.gray {
  color: #959595;
}

.card.h-full {
  height: 100vh;
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* modal */
.modal-preview {
  width: 50%;
  height: 75vh;
  overflow-y: scroll;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
  /* display: none; */
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.border-left {
  border-left: 10px solid black;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.border-left.text {
  border-color: rgb(129, 5, 129);
}
.border-left.number {
  border-color: rgb(41, 30, 197);
}
.border-left.select {
  border-color: rgb(78, 3, 9);
}
.border-left.textarea {
  border-color: rgb(3, 78, 9);
}
